//
// Type
// --------------------------------------------------

@font-face {
  font-family: 'ProximaNovaLight';
  src: local('ProximaNovaLight'), local('ProximaNova-Light');
  font-weight: normal;
  font-style: normal;
}

// Base
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

// Headers
h1 {
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  font-family: ProximaNovaLight,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

// Text utilities
.text-muted {
  color: #ccc;
}