* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 197px;
  background: #31373d;
  box-shadow: -1px 0 0 #2b3136 inset; }

#header {
  position: absolute;
  top: 0;
  left: 197px;
  right: 0;
  height: 57px;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  border-color: rgba(0, 0, 0, 0.07); }

#header-title {
  position: absolute;
  bottom: 12px;
  left: 20px;
  max-width: 718px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

#header-title-icon {
  margin: 5px 10px 0 0;
  float: left; }

#header-actions {
  position: absolute;
  bottom: 12px;
  right: 20px; }
  #header-actions .btn {
    margin: 0 0 0 5px; }

#content {
  position: fixed;
  top: 57px;
  left: 197px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none; }

@font-face {
  font-family: 'ProximaNovaLight';
  src: local("ProximaNovaLight"), local("ProximaNova-Light");
  font-weight: normal;
  font-style: normal; }

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; }

h1 {
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  font-family: ProximaNovaLight,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

.btn {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  line-height: 30px;
  padding: 0 9px;
  border-radius: 4px;
  white-space: nowrap;
  vertical-align: middle;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-appearance: none; }
  .btn:hover {
    text-decoration: none; }

.btn, .btn-default {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #479ccf; }
  .btn:hover, .btn:focus, .btn.focus, .btn-default:hover, .btn-default:focus, .btn-default.focus {
    background-color: #efefef;
    border-color: #d6d6d6;
    color: #479ccf; }

.btn-primary {
  background-color: #479ccf;
  border: 1px solid #2f82b4;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background-color: #3491c8;
    border-color: #2a74a0;
    color: #fff; }
